* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2c2c2c;
    font-family: 'Roboto', sans-serif;
}

p, form {
    display: inline-block;
}

.first_table {
    width: 60vw;
    border: 2px solid #555050;
    border-radius: 5px;
    margin: 30px 0 0 30px;
}

.box_name {
    width: 50%;
    display: inline-block;
    color: #DEDEDE;
}

.box_date {
    display: inline-block;
    width: 45%;
    color: #737373;
}
/* font weight ferst line in table */
.weight {
    font-weight: 600;
    color: white;
}

.line {
    border-top: 2px solid #535353;
}

.box_name>p, .box_name>div>p {
    padding: 15px 0px 15px 15px;
}

.line:first-of-type{
    border: none;
}


/* .triangle {
    text-align: center;
    border: 5px solid transparent;
    border-top: 6px solid #fff;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 1%;
} */

.button_triangle {
    display: inline-block;
    width: 1rem;
    filter: invert(1);
    background-image: url(img/sort-down.png);
    background-size: 0.5rem;
    background-repeat: no-repeat;
    background-position: center;
}


/* Зафиксировать при нажатии могу только с JS */
.button_triangle:active {
    display: inline-block;
    width: 1rem;
    filter: invert(1);
    background-image: url(img/caret-arrow-up.png);
    background-size: 0.5rem;
    background-repeat: no-repeat;
    background-position: center;
}

.triangle {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    outline: none;
}

/* .triangle>img {
    width: 70%;
    height: 70%;
} */

.three_dots {
    display: inline-block;
    margin-left: auto;
    margin-right: 0em;
}

.three_dots>button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.three_dots>button>span::before {
    content: "\00B7 \00B7 \00B7";
    color: #737373;;
}

/* Second table */

table {
    border-collapse: collapse;
    border-radius: 5px ;
    /* border: 1px solid white; */
    box-shadow: 0 0 0 2px #555050;
    width: 60vw;
    margin: 30px 0 0 30px;
    color: white;
}

table tr th {
    text-align: left;
}

table tr td button {
    color: white;
    padding: 0;
    border: none;
    font: inherit;
    background-color: transparent;
}

th {
    width: 47%;
    padding: 1em;
}


td {
    padding: 1em;
    border-top: 2px solid #555050 ;
}

td:nth-child(1) {
    color: #DEDEDE;
}

td:nth-child(2) {
    color: #737373;
}

td:nth-child(3) {
    width: 10%;

}


.open_lines {
    display: inline-block;
    width: 1.3rem;
    filter: invert(1);
    background-image: url(img/minus-button.png);
    background-size: 1.2rem;
    background-repeat: no-repeat;
    background-position: center;
}

.open_lines:active {
    display: inline-block;
    width: 1.3rem;
    filter: invert(1);
    background-image: url(img/add-square-button.png);
    background-size: 1.2rem;
    background-repeat: no-repeat;
    background-position: center;
}

.minus_plus {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    outline: none;
}

th>span:first-child {
    padding-right: 0.9rem;
}

/* third table */

.name_block{
    width: 42%;
}

/* .data_block {
    padding: 0;
} */

.third_table th {
    padding: 5px 5px 5px 15px;
}

.line_data>td:last-child {
    text-align: right;
    width: 5%;
}

.box_search {
    display: inline-block;
    background: #444444;
    border-radius: 5px;
    margin-left: 9em;
}

.box_search>form {
    background: none;
    border: none;
    outline: none;
    width: 100%;
}

.box_search input, .box_search button {
    border: none;
    outline: none;
    background: #444444;
    color: #fff;
}

.box_search input {
    width: 80%;
    height: 42px;
    padding-left: 9px;
}

/* .box_search button {
    height: 42px;
    width: 42px;
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
} */
.box_search button::before {
    content: "\f002";
    font-family: FontAwesome;
    color: #9c9c9c;
    padding-left: 1em;
}

.img_file {
    display: inline-block;
    background: url(img/folder.png);
    width: 1em;
    height: 1em;
    filter: invert(1);
}

span {
    padding-right: 0.6em;
}

